/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 5rem; */
}
/********************************* FUENTES Y VARIABLES **********************************/
:root{

    --fuentePrincipal: 'Nunito Sans', sans-serif;
    --fuenteSecundaria: 'Sarabun' , sans-serif;
    --fuenteTerciaria: 'Dancing Script', cursive;
    

    --colorUno: #e0d69b;
    --colorDos: #d5803d;
    --colorTres: #df2d24;
    --colorCuatro: #b49b5b;
    --colorCinco: #456e13;
}

/********************************* GLOBALES *********************************************/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
h1, h2, h3, h4{
    font-family: 'Sarabun', sans-serif;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
p {
    font-size: 1.6rem;
}
a {
    font-size: 1.6rem;
}
img{
    max-width: 100%;
}
.boton{
    display: block;
    max-width: 250px;
    padding: 1rem;
    border: 1px solid white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: lighter;


}
.botonPrimario{
    background-color: #e0d69b;
    color: white;
}

/************************************************* HEADER ****************************************************/
.site-header {
    /* height: 500px; */
    background-image: url(/img/imagen-fresacayendo.jpg);
    background-position: center center;
    background-size: 280vh;
    background-repeat: no-repeat;  
}

.logotipo img {
    max-width: 30rem;

}
.barra {
    display: flex;
    max-width: 80%;
    margin: 0;
}
.logotipo p {
    display: inline-block;
    font-family: var(--fuenteTerciaria);
    font-size: 4.3rem;
    color: #363636;
    font-weight: lighter;
}
/************************************** NAVEGACION ************************************************/
.navegacion {
    display: flex;
    width: unset;
}
.navegacion a {
    font-family: var(--fuentePrincipal);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: whitesmoke;
    border-radius: .2rem;
    color: black;
    transition: 0.3s ease-in-out;
}
.navegacion a:hover {
    background-color: var(--colorUno);
    color: white;
}
/*********************************** CONTENIDO PRINCIPAL *******************************************/
.contenido-principal {
}
.titulo {
    padding: 20px;
    background-image: url(/img/imagen-yogurt.jpg);
    background-position: center right;
    background-repeat: space;
    height: 480px;

}
.titulo h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 20rem;
    margin-top: 0;
    color: var(--colorDos);
    font-size: 8rem;
    font-family: var(--fuenteTerciaria);
}
.titulo p {
    font-size: 5.5rem;
    font-family: var(--fuenteSecundaria);
    text-align: end;
    font-weight: lighter;
    color: #363636;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
} 
.texto-nosotros {
    display: inline;

}
.texto-nosotros h2{
    font-family: var(--fuentePrincipal);
    font-weight: lighter;
    font-size: 5rem;
    text-align: center;
    color: #363636;

}
.texto-nosotros p{
    font-family: var(--fuenteSecundaria);
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 1.3;
    padding: 1rem;
    text-align: center;
    margin: none;

}
.texto-nosotros a{
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
/*************************************** FOOTER ************************************************/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img {
    max-width: 150px;
    margin-bottom: 2rem;
}
.navegacion-footer {

}
.navegacion-footer a{
    margin-right: 2rem;
    font-family: var(--fuentePrincipal);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: .2rem;
    color: black;
    transition: 0.3s ease-in-out;
}
.navegacion-footer a:hover {
    background-color: var(--colorUno);
    color: white;
}
.redes-sociales {
  
}
.redes-sociales i {
    font-size: 4rem;
    margin: 0 1rem;
    padding: 1rem
}
.redes-sociales p {
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuenteTerciaria);
    color: #363636;
}
.copyright {
    
    background-color: var(--colorUno);
    border-radius: .5rem;
}
.copyright p {
    margin: 0;
}