/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 5rem;
}
/********************************* FUENTES Y VARIABLES **********************************/
:root{

    --fuentePrincipal: 'Nunito Sans', sans-serif;
    --fuentesSecundaria: 'Sarabun' , sans-serif;

    --colorUno: #e0d69b;
    --colorDos: #d5803d;
    --colorTres: #df2d24;
    --colorCuatro: #b49b5b;
    --colorCinco: #456e13;
}

/********************************* GLOBALES *********************************************/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
h1, h2, h3, h4{
    font-family: 'Sarabun', sans-serif;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/************************************************* HEADER ****************************************************/
.site-header {
    height: 500px;
    background-color: var(--colorUno);   
}

.logotipo img {
    max-width: 200px;

}

.barra a{
    display: flex;
    justify-content: first baseline;
    font-size: 2rem;
}